.flexCon{
    background:#11101b;
    width: max(900px, 40%);
    height: 500px;
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 10px;
}

.flexCon form > *{
    display: block;
    border: none;
}

.flexCon form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexCon form input{
    background: #ecf0f1;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    padding: 5px 30px;
}

.flexCon form textarea{
    background: #ecf0f1;
}

.flexCon form input:focus{
    background: white;
}

.flexCon form textarea:focus{
    background: white;
}

.flexCon form textarea{
    width: min(700px, 70%);
    height: 200px;
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px;
}

.flexCon label{
    color: white;
    font-size: 18pt;
    padding: 10px;
}

.flexCon form input[type="submit"]{
    background: #27ae60;
    width:300px;
    height:30px;
    margin:10px 0;
    cursor: pointer;
    transition: ease 0.1s;
}

.flexCon form input[type="submit"]:hover{
    background: #2ecc71;
    width:250px;
    height:30px;
    margin:10px 0;
}

.note{
    padding:20px min(70px, 10%);
    text-align: center;
}

.mainCon{
    text-align: center;
    padding:20px min(70px, 10%);
}

.mainCon h1{
    margin: 20px 0;
    font-size: 54pt;
}

.mainCon p{
    font-size: 16pt;
    margin-bottom: min(30px, 30%);
}

.msgScreen{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    animation: popIn 0.5s;

}

@keyframes popIn{
    0%{
        bottom: -200px;
    }
    100%{
        bottom:0px;
    }
    
}

.msgScreen div{
    background: black;
    width: min(750px, 100%);
    height: 150px;
    text-align: center;
}

.msgScreen div span{
    float: right;
    padding: 5px 10px;
    font-size: 21pt;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.msgScreen div h1{
    font-size: min(32pt, 8vw);
    padding:10px;
}

.msgScreen div p{
    font-size: min(16pt, 4vw);
}

.msgScreen div span:hover{
    background: red;
}

