.transparent{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 11;
}

.theCont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flexBox{
    display: flex;
    flex-wrap: wrap;
}

.headerContent{
    font-weight: 600;
    font-size: 34pt;
    margin: 10px 20px;
}

.blueLine{
    background: black;
    min-width: 264px;
    width:50%;
    height:3px;
    border-radius: 5px;
}