.button{
    background: #bdc3c7;
    color: black;
    text-align: center;
    padding: 15px 30px;
    transition: ease 0.2s;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    font-size: 14pt;
    border-radius: 2px;
    margin: 0 5px;
}

.button:hover{
    background: black;
    color: white;
}